---
const { prev, next, total, size, currentPage } = Astro.props;
const totalPages = Math.ceil(total / size);
const pages = new Array(totalPages).fill(null).map((v, i) => i + 1);
---

<nav class="my-10 flex justify-center items-center" aria-label="Blog pages">
  {
    prev && (
      <a
        class=" bg-light-primary text-light-bg dark:bg-dark-primary dark:text-dark-bg-alt rounded-xl p-4"
        href={prev}
      >
        Previous
      </a>
    )
  }
  {
    pages.map((page) => (
      <a
        class={`hidden sm:block mx-2 bg-light-primary text-light-bg dark:bg-dark-primary dark:text-dark-bg-alt rounded-xl p-4 ${currentPage === page ? "font-bold underline" : ""}`}
        href={page === 1 ? "/blog" : `/blog/${page}`}
      >
        {page}
      </a>
    ))
  }
  {
    next && (
      <a
        class="bg-light-primary text-light-bg dark:bg-dark-primary dark:text-dark-bg-alt rounded-xl p-4"
        href={next}
      >
        Next
      </a>
    )
  }
  {
    (
      <span class="mx-2">
        Page {currentPage} of {totalPages}
      </span>
    )
  }
</nav>
